/* 
IMPORTANTE: USAR UN SOLO DIV
Colors:
  Background: #09042A
  Left circle: #7B3F61
  Right circle: #E78481
*/
.bg {
  width: 400px;
  height: 300px;
  background-color: #09042a;
  display: flex;
  justify-content: center;
  align-items: center;
}
.circle{
  width:150px;
  height: 150px;
  border-radius: 50%;
  background-color:#7B3F61;
  margin-left: -100px;
  position: relative;
  transform-style: preserve-3d;
}
.circle::after{
content: '';
display: block;
position: absolute;
width: 150px;
height: 150px;
border-radius: 50%;
background-color: #E78481;
left: 100px;
transform: translateZ(-1px);
}
.circle::before{
  content: '';
  display: block;
  position: absolute;
  top:30px;
  left: 90px;
  background-color: #09042a;
  transform: rotate(37deg);
  width:70px;
  height: 90px;
  border-radius: 0 90%;
}